<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Masera</title>
        <!-- exemplo de icone da aba-->
        <!-- <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}>-->
        <!-- exemplo de Stylesheet -->
         <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    </head>
    <body>

        {% block content %} {% endblock %}

        <!-- exemplo de url for  -->
        <!-- <a class="nav-brand" href="{% url 'index' %}"> -->

        <!-- exemplo de img -->
        <!-- <img src="{% static 'img/bg-img/foto_receita.png' %}" alt=""> -->

        <!-- exemplo de importação de arquivo js  -->
         <script src="{% static 'js/bootstrap.js' %}"></script>
    </body>
</html>